.grid-container {
    display: grid;
    grid-template-columns: 24% 25% 25% 24%;
    grid-template-rows: 49% 51%;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 90px;
    color: #fff;
    border-radius: 40px;
}

.grid-container>div:hover {
    background-color: gray;
}

.grid-container>a>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 100px;
    color: #fff;
    border-radius: 40px;
}

.grid-container>a>div:hover {
    background-color: gray;
}

#clickAqui {
    font-size: 70px;
}

a {
    text-decoration: none;
}

#nada {
    background-color: transparent;
}

#nada:hover {
    background-color: transparent;
}